/* Colores */

$colorPrincipal: #FF0075;
$colorSecundario: black;

/* Fuente */

$fuentePrincipal: 'Merriweather', serif;
$fuenteSecundaria: Arial;

/* Medidas */ 

$medidaBasicaCaja: 720px;

/* Condicional */ 

$color: verde;
